

.mGrid { background-color: #fff; border: medium none; font-family: Arial,Helvetica; text-align: center; width: 100%; word-wrap: break-word; }
.mGrid > tbody > tr:hover { background: #fbf8e9; color: #333; }
.mGrid td { border: 1px solid #eaeaea; font-size: 13px; padding: 10px 2px; }
.mGrid td a { color: #076db3; font-family: Tahoma; font-size: 12px; text-decoration: none; }
.mGrid th {white-space: nowrap !important; background-color: #f4f4f4; border: 1px solid #ddd; color: #444444; font-size: 13px; padding:5px 2px; text-align: center; }
.mGrid th a {white-space: nowrap !important; color: #8e8e8e; text-decoration: none; }
.mGrid th a:hover { color: #0094ff; }

.mGrid .pgr { background-color: #f4f4f4; }
.mGrid .pgr table { margin: 3px 0; }
.mGrid .pgr td { border-left: 1px solid #666; border-width: 0 0 0 1px; color: #1da092; font-weight: bold; line-height: 12px; padding: 0 6px; }
.mGrid .pgr a { color: #666; text-decoration: none; }
.mGrid .pgr a:hover { color: #000; text-decoration: none; }
.mGrid .Selected { background-color: #eaeaea; }
.mGrid .GridFooter { background-color: #f4f4f4; border: 1px solid #ddd; font-weight: bold; padding: 7px 13px; text-align: center; }


