<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="LoopsITConnectionString" connectionString="Data Source=SQL5103.site4now.net;Initial Catalog=DB_A725FB_LoopsIT;User Id=DB_A725FB_LoopsIT_admin;Password=LoopsIT_db21" providerName="System.Data.SqlClient"/>-->
    <add name="LoopsITConnectionString" connectionString="Data Source=.;Initial Catalog=LoopsIT;Integrated Security=True;  MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <!--<add name="EduConnectionString" connectionString="Data Source=.;Initial Catalog=Edu;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="TailorbdConnectionString" connectionString="Data Source=.;Initial Catalog=Tailorbd;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <siteMap defaultProvider="SiteMap1">
      <providers>
        <add name="SiteMap1" type="System.Web.XmlSiteMapProvider" siteMapFile="~/web.sitemap"/>
        <add name="SiteMap2" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web_Arranged.sitemap"/>
      </providers>
    </siteMap>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="5120"/>
    <!--Maximum 5MB upload-->
    <customErrors mode="Off"/>
    <pages validateRequest="true"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Default.aspx" protection="All" timeout="30"/>
    </authentication>
    <membership defaultProvider="OwnerProvider">
      <providers>
        <clear/>
        <add name="OwnerProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LoopsITConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordFormat="Hashed" applicationName="/"/>
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="LoopsITConnectionString" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <!--End system.web-->
  <!--<system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" port="587" userName="loopsitbackup@gmail.com" password="***" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>-->
  <!--All Profile Page-->
  <system.webServer>
    <!--<rewrite>
      <rules>
        <rule name="HTTP Redirect to HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->

    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" />
    </handlers>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365:00:00"/>
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
  </system.webServer>
  
  <location path="Profile/Admin.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Profile/Sub_Admin.aspx">
    <system.web>
      <authorization>
        <allow roles="Sub-Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--Pages-->
  <location path="Admin/Add_Contacts_List.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Contact"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Add_Employee.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Employee"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Add_Expense_Category.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Exoense_Category"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Expense.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Expense"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Follow_Up.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Follow_Up"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Income_Category.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Income_Category"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Income.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Income"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Accounts/Income_Report.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Income_Report"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Add_Institution.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Institution"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Job_Category.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Job_Category"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Add_Job.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Job"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Add_Projects.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Project"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Report/Company_Analysis.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Company_Analysis"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Accounts/Add_Main_Category.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Add_Main_Category"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Report/Expense_Analysis.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Expense_Analysis"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>